.app {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.label {
    font-size: 5em;
    text-align: center;
    margin: 2em 0;
}


section {
    height: 100vh;
}

.canvas-wrapper {
    position: relative;
}